body{
    /* basic styling */
    margin: 0;
    background-color: black;
    color: white;
    font-family: "Roboto";
}

footer{
    /* centered, italic text for footer */
    text-align: center;
    font-style: italic;
}

/* 
Nav 
*/

#nav{
    /* centered navbar with height and padding */
    height: 100vh;
    display: flex;
    align-items: center;
}

.nav-item{
    /* styling for each list item in navbar */
    color: white;
    font-size: 4em;
    
    display: block;
    margin-top: 15%;
    height: 5%;
    text-decoration-color: rgba(255, 255, 255, 0);
}

#nav-items ul{
    /* styling for unordered list items in navbar */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-items{
    /* styling for unordered list items in navbar */
    margin-left: 10%;
}

.nav-item:hover{
    /* styling for when the user hovers over a list item */
    text-decoration-color: rgba(255, 255, 255, 1);
    transform: scale(1.5);
    transition: transform 400ms ease, text-decoration-color 500ms ease;
}

.active{
    /* styling for when the user is on the current page */
    font-weight: bolder;
}

hr.rounded{
    /* styling for the horizontal line under the navbar */
    border-top: 0.5vw solid #6e6e6e;
    border-radius: 5px;
    margin-left: 15%;
    margin-right: 15%;
}

/* 
Content 
*/

#content{
    /* centered content with padding */
    margin-top: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

.subtitle{
    /* styling for the subtitles */
    width: 300px;
    font-size: 3.5em;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1%;
}

.paragraph{
    /* styling for the paragraphs */
    font-size: 1.5em;
    border-left: 5px solid #6e6e6e;
    border-radius: 5px;
    padding-left: 2%;
    width: 80%;
    margin: 30px auto;
    display: flex;
    align-items: center;
}

#project-section, #contact-section {
    /* styling for the project and contact sections */
    box-sizing: border-box;
    display: flex;
} 

.contact-link{
    /* styling for the contact link */
    text-decoration: underline 0.1em rgba(255, 255, 255, 0);
    color: white;
    font-weight: bolder;
}

.contact-link:hover{
    /* styling for when the user hovers over the contact link */
    text-decoration-color: rgba(255, 255, 255, 1);
    transition: text-decoration-color 500ms ease;
}

button{
    /* styling for the button */
    text-align: center;
    padding: 5%;
    font-size: 1.5em;
    width: 120%;
    border: 2px solid white;
    background-color: black;
    color: white;
    border-radius: 15px;
    transition-duration: 0.4s;
}

button:hover{
    /* styling for when the user hovers over the button */
    background-color: white;
    color: black;
    cursor: pointer;
}

/* 
Responsiveness 
*/

@media screen and (max-width: 1000px){
    #nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #nav-items{
        margin-left: 0;
    }
    
    .nav-item{
        margin-top: 0;
        margin-bottom: 5%;
    }
    
    #content{
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .subtitle{
        text-align: center;
        margin-right: 0;
    }
    
    #project-section, #contact-section{
        flex-direction: column;
    }
    
    #contact-section .paragraph{
        text-align: center;
    }   
}