body{
    margin: 0;
    background-color: black;
    color: white;
    font-family: "Roboto";
}

/*
Navbar
*/

#nav{
    display: flex;
    justify-content: center;
    height: 10vh;
    padding-bottom: 5%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item{
    text-decoration: underline 0.1em rgba(255, 255, 255, 0);
    font-size: 1.5em;
    display: block;
    color: white;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.nav-item:hover{
    text-decoration-color: rgba(255, 255, 255, 1);
    transform: scale(1.5);
    transition: transform 400ms ease, text-decoration-color 500ms ease;
}

.nav-item:not(hover){
    transform: scale(1);
    transition: transform 400ms ease;
}

.active{
    font-weight: bolder;
}

/*
Content
*/

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 
Project
*/

.projects-p{
    font-size: 1.5em;
    font-weight: bold;
}

.github-link{
    color: white;
    text-decoration: underline 0.1em rgba(255, 255, 255, 0);
}

.github-link:hover{
    text-decoration-color: rgba(255, 255, 255, 1);
    transition: text-decoration-color 500ms ease;
}

.project-gallery, .system-project-gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project, .image{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2%;
}

.project:nth-child(even){
    flex-direction: row-reverse;
}

.image:nth-child(even){
    flex-direction: row-reverse;
}

.desc{
    font-size: 1.2em;
    padding-left: 3%;
    padding-right: 3%;
    width: 35%;
}


img{
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    margin-right: 5%;
    border: 5px solid transparent;
    object-fit: cover;
}

img:hover{
    border: 5px solid white;
    transition: border 500ms ease;
}

.brief{
    font-size: 1.25em;
    margin-bottom: 2%;
}

/* 
About
*/

/*
Contact
*/

#contact-p{
    font-size: 1.5em;
}

.form-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{   
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    padding: 5%;
    width: 50vw;
    margin: auto;
}

input, textarea{
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: black;
    color: white;
    outline: none;
}

input[type = submit]{
    transition-duration: 0.4s;
}

input[type = submit]:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

submit:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

textarea{
    resize: none;
}

/*
Responsiveness
*/


@media screen and (max-width: 768px){
    body{
        padding-top: 10vh;
    }
    
    #nav, ul, .nav-item{
        flex-direction: column;
    }

    #nav{
        margin-bottom:3%;
    }
    
    #content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10vh;
    }
    
    form{
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }
    
    input, textarea{
        width: 100%;
        box-sizing: border-box;
    }

    .project-gallery, .system-project-gallery{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .project, .image, .project:nth-child(even), .image:nth-child(even){
        flex-direction: column;
        align-items: center;
    }

    .desc{
        width: 100%;
        margin: 5%;
    }
}